@charset "UTF-8";

* {
    margin: 0px;
}

:root {
    --cor1: #636ab8;
    --cor2: #626585;
    --cor3: #282f76;
    --cor4: #222333;
    --cor5: #b89542;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--cor4);
}

header {
    position: relative;
    height: 200px;
    background-image: linear-gradient(to bottom, var(--cor4), black);
}

header > p {
    position: relative;
    color: white;
    text-align: right;
    padding: 15px;
}

header > p > a {
    position: relative;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 0px black;
}

header > p > a:hover {
    text-decoration: underline;
}

header img{
    width: 180px;
    position: absolute;
    left: 50%;
    top: 40%;

    transform: translate(-50%, -50%);
}

nav {
    text-align: center;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 4px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4.5px;
    padding-top: 4.5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #626585;
}

nav a:hover {
    background-color: #636ab8;
    color: #222333;
}

nav a:active{
    color: white;
}

div.linha {
    background-color: var(--cor5);
    height: 6px;
    box-shadow: 1px 1px 23px black;
}

main section {
    height: 600px;
}

main section#apresentacao {
    position: relative;
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: right top;   
}

section#apresentacao > div {
    background-color: rgba(34, 35, 51, 0.764);
    max-width: 400px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.2em;
    box-shadow: 1px 1px 15px black;

    position: absolute;
    top: 20%;
}

section#apresentacao div h2 {
    text-align: center;
    color: white;
}

section#apresentacao div p {
    text-indent: 20px;
    margin-top: 20px;
    text-align: justify;
    color: white;
}

section#associacao {
    background-color: rgba(0, 0, 0, 0.504);
}


main section.texto {
    background-color: var(--cor2);
}

footer {
    height: 27px;
    background-color: black;
    color: var(--cor2);
}

footer p{
    text-align: center;
    padding-top: 3px;
    font-size: 0.8em;
}