@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #636ab8;
    --cor2: #626585;
    --cor3: #282f76;
    --cor4: #222333;
    --cor5: #b89542;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--cor4);
}

header {
    position: relative;
    height: 200px;
    background-image: linear-gradient(to bottom, var(--cor4), black);
}

header > p {
    display: none;
    position: relative;
    color: white;
    text-align: right;
    padding: 15px;
}

header > p > a {
    position: relative;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 0px black;
}

header > p > a:hover {
    text-decoration: underline;
}

header img{
    width: 180px;
    position: absolute;
    left: 50%;
    top: 40%;

    transform: translate(-50%, -50%);
}

span#burguer {
    text-align: center;
    padding: 10px;
    color: white;
    display: block;
    background-color: black;
    cursor: pointer;
}

span#burguer:hover {
    background-color: var(--cor2);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    border-top: 2px solid var(--cor2);
}

menu a:hover {
    background-color: var(--cor4);
}

div.linha {
    background-color: var(--cor5);
    height: 6px;
    box-shadow: 1px 1px 23px black;
}

main section#banner {
    position: relative;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: right top;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
    height: 600px;
}

main section#banner a {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    width: 180px;
    background-color: #00BB2D;
    border-radius: 25px;
    text-shadow: 1px 1px 2px var(--cor4);
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 5px black;
    top: 80%;
    left: 50%;

    transform: translate(-50%, -50%);
}

main section#banner img {
    width: 20%;
    transform: translate(-20%, 30%);
}

main section#banner a:hover {
    background-color: #007c1d;
    outline-color: #01270a;
    color: white;
    box-shadow: 2px 2px 10px black;
}

main section#associacao {
    background-color: rgba(0, 0, 0, 0.504);
    height: 520px;
}

main section#associacao h2 {
    padding-top: 20px;
}

main section#associacao h2, h3{
    text-align: center;
    color: white;
}

main section#associacao article {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 30px;
    width: 380px;
}

main section#associacao article h4{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #54555c;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

main section#associacao article ul{
    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    list-style-position: inside;
    list-style-type: circle;
    background-color: #d2d4d88e;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.mais {
    margin-top: 50px;
    font-size: 1em;
    text-align: right;
    margin-right: 5%;
}

section#associacao > h3 > a {
    color: white;
    text-decoration: none;
}

section#associacao > h3 > a:hover {
    text-decoration: underline;
}

main section#especialidades {
    height: 500px;
}

main section#especialidades h2 {
    color: white;
    text-align: center;
    padding-top: 70px;
}

#especialidades article {
    margin-top: 30px;
    padding-left: 50px;
}

#especialidades ul {
    color: white;
    list-style-position: inside;
    columns: 2;
}

#especialidades > p#indent {
    color: white;
    margin-top: 30px;
    padding-left: 20px;
    text-indent: 20px;
}

#conhecer {
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
}

#especialidades a {
    color: white;
    text-decoration: none;
    background-color: var(--cor2);
    padding: 25px;
    border-radius: 30px;
}

#especialidades a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

main section#apresentacao {
    background-color: rgb(221, 221, 221);
}

#apresentacao h2 {
    text-align: center;
    padding: 30px;
}

#apresentacao p {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    max-width: 500px;
}

section#apresentacao > div#imagem {
    display: block;
    background-image: url('../images/tecnologia.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
    height: 310px;
}

main section#agendamento {
    height: 300px;
    position: relative;
}

main section#agendamento h2 {
    padding: 30px;
    text-align: center;
    color: white;
}

main section#agendamento p {
    display: block;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    max-width: 500px;
}

#botao {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background-color: black;
    color: rgb(116, 114, 114);
    text-align: center;
}

footer > div > h5{
    color: rgb(173, 171, 171);
}

footer div {
    padding-top: 20px;
}

footer a {
    color: rgb(116, 114, 114);
    text-decoration: none;
}

footer > div > p{
    text-align: center;
    padding-top: 10px;
    font-size: 0.8em;
}

footer > p{
    text-align: center;
    padding-top: 20px;
    padding: 5px;
    padding-bottom: 20px;
    font-size: 0.8em;
}