@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #636ab8;
    --cor2: #626585;
    --cor3: #282f76;
    --cor4: #222333;
    --cor5: #b89542;
}

body {
    position: relative;
    background-color: #626585;
    width: 100vw;
    height: 100vh;
}

#container {
    position: absolute;
    background-color: #222333;
    width: 80vw;
    max-width: 500px;
    height: 70vh;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#titulo {
    text-align: center;
    color: white;
}

#titulo img {
    width: 150px;
}

#titulo h3{
    padding-top: 30px;
    padding-bottom: 50px;
}

#formulario {
    text-align: center;
}

.fundo {
    position: relative;
    margin: auto;
    background-color: #626585;
    width: 450px;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
}

.fundo span {
    position: absolute;
    color: white;
    top: 50%;
    left: 3.5%;

    transform: translate(0%, -50%);
}

input{
    position: absolute;
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 15px;
    /*margin-top: 20px;*/
    font-size: 1.5em;
    text-indent: 10px;

    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
}

input#submit {
    position: relative;
    width: 150px;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
}

input#submit:hover {
    background-color: #626585;
    color: white;
}

p {
    color: white;
    margin-top: 50px;
}