@charset "UTF-8";

/*Outra mídias*/

/* Pequenas telas e celular - até 768px*/
/* tablets 768px a 992px */
/* Desktops 992px a 1200px */
/* Grandes Telas - 1200px*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    menu {
        display: block;
        background-color: black;
    }

    menu ul {
        text-align: center;
    }

    menu li {
        display: inline-block;
    }

    menu a {
        display: inline-block;
        border-top: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    span#burguer {
        display: none;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    menu {
        display: block;
        background-color: black;
    }

    menu ul {
        text-align: center;
    }

    menu li {
        display: inline-block;
    }

    menu a {
        display: inline-block;
        border-top: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    span#burguer {
        display: none;
    }

    footer div {
        display: inline-block;
        padding: 20px;
        padding-left: 40px;
    }


}

@media screen and (min-width: 1200px) {

    menu {
        display: block;
        background-color: black;
    }

    menu ul {
        text-align: center;
    }

    menu li {
        display: inline-block;
    }

    menu a {
        display: inline-block;
        border-top: none;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    span#burguer {
        display: none;
    }

 
    footer div {
        display: inline-block;
        padding: 20px;
        padding-left: 40px;
    }

}