@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #636ab8;
    --cor2: #626585;
    --cor3: #282f76;
    --cor4: #222333;
    --cor5: #b89542;
}

header {
    position: relative;
    background-color: black;
    height: 17vh;
    color: white;
}

header img {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    border-radius: 50%;
}

#burguer {
    position: absolute;
    top: 50%;
    left: 92%;

    transform: translate(-50%, 50%);
    cursor: pointer;
}

header h1 {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: #626585;
    width: 80vw;
    height: 100vh;
    margin-left: 20vw;
    z-index: 100;
    position: fixed;
    display: none;
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.212);
}

nav p {
    color: rgba(255, 255, 255, 0.178);
    padding: 20px;
    text-align: right;
    cursor: pointer;
    font-size: 1.5em;
}

nav img#logo {
    width: 200px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}

nav ul {
    width: 100%;
    position: absolute;
    font-size: 2em;
    list-style: none;
    top: 55%;
    left: 0%;

    transform: translate(0%,-50%);
}

nav li {
    border-top: 1px solid #222333;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav li:hover {
    background-color: #dbdce2;
    padding-right: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:2px 2px 2px #22233331;
}

nav a {
    text-decoration: none;
    color: black;
}

nav img {
    width: 30px;
    padding-right: 10px;
}

main {
    height: calc(100vh - 23.4vh);
}

section {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
}

main section#noticias {
    width: 400px;
    margin: auto;
}

main section#noticias h2{
    background-color: #636ab8;
    text-align: center;
}

main section#noticias h2 {
    margin-top: 22px;
    border-top-left-radius: 15px;
}

main section#noticias p {
    padding: 15px;
    background-color: #22233354;
}

main section#comunicado {
    width: 400px;
    margin: auto;
}

main section#comunicado h2{
    background-color: #636ab8;
    text-align: center;
    margin-top: 22px;
    border-top-left-radius: 15px;
}

main section#comunicado p {
    padding: 15px;
    background-color: #22233354;
}

main section#contato {
    width: 400px;
    margin: auto;
}

main section#contato h2{
    background-color: #636ab8;
    text-align: center;
    margin-top: 22px;
    border-top-left-radius: 15px;
}

main section#contato ul{
    padding: 15px;
    background-color: #22233354;
    list-style: none;
}
main section#contato li{
    padding-top: 15px;
}

footer {
    width: 100vw;
    position: fixed;
    background-color: #636ab8;
    height: 4vh;
    z-index: 50;
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.329);
}